@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.container {
	display: grid;
	place-items: center;
}

ul {
	list-style: none;
}

hr {
    border-top: none;
    border-bottom: solid 1px #4E8BC4;
    width: 10%;
}

h1 {
	font-size: 5.625rem;
	font-family: 'Roboto', sans-serif;
}

.d-flex {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.pt-5 {
    padding-top: 50px;
}

#intro {
	background: url('http://p-schub.lima-city.de/img/sky.jpeg') no-repeat center
		center fixed;
}

.avatar {
	border-radius: 50%;
	width: 12rem;
}

.h-100 {
	height: calc(100vh - 60px);
}

.my-5 {
	margin: 2.5rem auto;
}
.mt-5 {
	margin-top: 2.5rem;
}

a {
	text-decoration: none;
	color: #4e8bc4;
}

.lh-1 {
	line-height: 1.5rem;
}
.lh-2 {
	line-height: 2;
}

.btn {
	border-radius: 5px;
	padding: 15px 20px;
}

header {
	border-bottom: 1px solid #dadce0;
	height: 60px;
}

nav a {
	color: #4e8bc4;
	transition: 0.15s;
	font-size: large;
	padding: 20px 24px;
}

nav a:hover {
	font-weight: bolder;
	color: #202124;
	background-color: rgba(32, 33, 36, 0.04);
	border-bottom: solid 5px #4E8BC4;
}
.brand {
    padding: 0 20px;
}

.brand a {
    border-bottom: #4E8BC4 5px solid;
    font-weight: 900;
	font-size: 24px;
	color: #e7e7e7;
}

footer {
	background-color: #4E8BC4;
}

footer a {
	color: #e7e7e7;
	transition: 0.15s;
}
footer a:hover {
	color: #202124;
}